<!DOCTYPE html>
<html>
<head>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="bower_components/angular/angular.min.js"></script>

</head>
<body ng-app="home" ng-controller="home">

<div id="header">
</div>
<div id="container">
    <div class="outer">
        <div class="inner">
            <div class="centered">
                <div class="searchBox" style="padding-bottom: 150px">
                    <div class="hm-container-logo">
                        <img src="image/logo.png" width="500">
                    </div>
                    <div class="hm-container-search">
                        <div class="input-group">
                            <input type="text" class="form-control searchButton" ng-model="keyword" ng-keyup="$event.keyCode == 13 && toggle()" placeholder="키워드를 입력하세요" >
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-warning" ng-click="toggle()">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: left">
                        <h4 style="color:#72848B;">많이 검색한 키워드:
                            <small ng-repeat="keyword in model.search">
                                <a href="/view?keyword={{keyword._id}}" style="font-size:12px; padding-left:1em; color:#696969">{{keyword._id}}</a>
                            </small>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var app = angular.module("home", []);
    app.controller('home', function($scope, $http, $filter) {
        $scope.model = {};

        $http.get("/result/search").success(function (data){
            $scope.model.search = $filter("limitTo")(data.splice(0), 7);
        });

        $scope.toggle = function() {
            location.href = "/view?keyword=" + $scope.keyword;
        }

    })
</script>

</body>
</html>
