<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="bower_components/Nwagon/Nwagon.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/Nwagon/Nwagon.js"></script>
</head>
<body ng-app="sentimeter" ng-controller="view">
<!--FFDC74-->
<div>
    <img src="image/logo.png" width="150">

    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" ng-model="input" ng-keyup="$event.keyCode == 13 && toggle()">
        <div class="input-group-btn">
            <button class="btn btn-default" ng-click="toggle()" type="submit"><i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>
    <h4 style="text-align: center">"{{keyword}}" 감성분석 결과</h4>
</div>

<div class="vw-container">
    <div>
        <h4>감성분석결과</h4>

        <div class="progress-bar progress-bar-info" role="progressbar"
             aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{model.sentiment.positive}}%;">
            <span>{{model.sentiment.positive}}%</span>
        </div>
        <div class="progress-bar progress-bar-success" role="progressbar"
             aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{model.sentiment.neutral}}%;">
            <span>{{model.sentiment.neutral}}%</span>
        </div>
        <div class="progress-bar progress-bar-danger" role="progressbar"
             aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{model.sentiment.negative}}%;">
            <span>{{model.sentiment.negative}}%</span>
        </div>
    </div>
    <div class="vw-container-analysis">
        <div class="vw-container-analysis-chart">
            <h4>차트</h4>
        </div>
        <div class="vw-container-analysis-word">
            <h4>단어</h4>
            <table class="table">
                <thead>
                <tr>
                    <th>단어</th>
                    <th>횟수</th>
                    <th>감정</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="word in model.word">
                    <td>{{word.word}}</td>
                    <td>{{word.count}}</td>
                    <td>{{word.sentiment}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="vw-container-sns">
        <h4 >게시글</h4>
        <table class="table">
            <thead>
            <tr>
                <th>감성</th>
                <th>아이디</th>
                <th>스크린네임</th>
                <th>글</th>
                <th>날짜</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="article in model.sentiment.text">
                <td>{{article.sentiment}}</td>
                <td>{{article.name}}</td>
                <td>{{article.scrName}}</td>
                <td>{{article.Text}}</td>
                <td>{{article.date}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<script>
    keyword = "<%= key%>"
    var sentimeter = angular.module("sentimeter", []);

    sentimeter.controller("view", function ($scope, $http, $filter) {
        var selectedCategory = null;
        $scope.keyword = keyword;
        $scope.model = {};

        $http.get("http://localhost:3000/result/sentimentBar?keyword="+keyword).success(function (data){
            $scope.model.sentiment = data;
        });
//        $http.get("http://localhost:3000/result/chart?keyword="+keyword).success(function (data){
//            $scope.model.option = data;
//        });
        $http.get("http://localhost:3000/result/wordCount?keyword="+keyword).success(function (data){
            $scope.model.word = $filter("limitTo")(data.splice(0), 7);
        });

        $scope.toggle = function() {
            location.href = "http://localhost:3000/view?keyword=" + $scope.input;
        };
    });

</script>
</body>
</html>
