/* http://www.colourlovers.com/palette/1411751/Gowalla_Warm
 F17233 F5A54A F8C34C FBD959 BCDE5C
 */
body {
  margin:0;
  padding:0;
}

.hm-container {
  overflow: auto;
  height: 400px;
  width: 500px;
  margin: 0px auto;
  margin-top: 250px;
}

.hm-container-logo {
  width: 100%;
  height: 330px;
  background-color: #FFBE40;
}

.hm-container-search {
  margin-top: 20px;
  height: 50px;
}

.vw-container {
  width: 940px;
  margin: 0px auto;
  margin-top: 40px;
}

.vw-container-header {
  width: 100%;
  height: 90px;
}


.vw-container-header-well {
  height: 70px;
  margin-left:30px;
  margin-right:30px;
  margin-top: 10px;
  background: #FBD959;
  border: 0px;
  color: #F17233;
}

.vw-container-sentimentBar {
  height: 90px;
  width: 100%;
  margin-top: 50px;
}

.progress {
  background: rgba(245, 245, 245, 1);
  border: 0px solid rgba(245, 245, 245, 1);
  border-radius: 40px;
  height: 75px;
}

.progress span {
  width: 100%;
  color: black;
  font-size: 16px;
}

.progress-bar {
  line-height: 75px;
}

.progress-bar-positive {
  background: #82DCF8;
}

.progress-bar-neutral {
  background: #C6C6C6;
}

.progress-bar-negative {
  background: #FE9289;
}


.vw-container-analysis {

  height: 350px;
  width: 100%;
  margin-top: 60px;
}

.vw-container-analysis-chart {
  height: 350px;
  width: 64%;
  float:left;
}
.vw-container-analysis-word {
  padding-left:30px;
  padding-right:30px;
  height: 350px;
  width: 34%;
  float:right;
}

.table td {
  text-align: center;
}
.table th {
  text-align: center;
}



.vw-container-sns {
  height: 600px;
  width: 100%;
  margin-top: 20px;
}

.nav-pills > li > a {
  color:black;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus {
  color:black;
  background: #FBD959;
}